{% extends "base.html" %}
{% load static %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<section class="profile">
    <div class="container">
        <div class="profile_wrap">
            {% if user.is_authenticated %}
            <h2>Профиль пользователя: {{ user.username }}</h2>
                {% if user.profile.avatar %}
                    <img class="profile_avatar" src="{{ user.profile.avatar.url }}" alt="Аватар {{ user.username }}">
                {% else %}
                    <img class="profile_avatar" src="{% static 'images/default_avatar.png' %}" alt="Дефолтный аватар">
                {% endif %}            
                <div class="profile_info">
                <p><strong>Имя:</strong> {{ user.first_name|default:"Не указано" }}</p>
                <p><strong>Фамилия:</strong> {{ user.last_name|default:"Не указано" }}</p>
                <p><strong>Электронная почта:</strong> {{ user.email|default:"Не указано" }}</p>
                <p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y H:i" }}</p>
            </div>
            <div class="profile_actions">
                <a class="btn" href="{% url 'edit_profile' %}">Редактировать профиль</a>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Выйти</button>
                </form>
            </div>
            {% else %}
            <h2>Доступ запрещён</h2>
            <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы просмотреть профиль.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}