.site-footer {
    background:#a1a1a1;
    color: white;
    text-align: center;
    padding: 20px 0;
    
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-politics{
    text-decoration: underline;
}